h1 {
  padding: 40px 0 30px;
  text-align: center;
}

form {
  text-align: center;
}

input {
  margin: 10px;
  border: 1px solid gray;
}

button {
  margin: 20px;
  padding: 10px 40px;
  background: #8bf1e1;
  border-radius: 6px;
  cursor: pointer;
}

p {
  text-align: center;
  font-weight: bold;
}